<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Zeega - The best online games</title>
        <meta name="description" content="Zeega.me - Online gaming experience" />
        <meta name="keywords" content="games, online, free, play" />
        <meta name="google-site-verification" content="" />
        <meta name="msvalidate.01" content="" />
        <meta name="y_key" content="" />
        <link href="" rel="Shortcut Icon" type="image/x-icon" media="all" />

        @Styles.Render("~/assets/css/style")
        @Scripts.Render("~/assets/js/modernizr")
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
</head>
    <body>
        @RenderPage("Header.cshtml")
        @RenderBody()
        @RenderPage("Footer.cshtml")
        
        
        @Scripts.Render("~/assets/js/jquery")
        @Scripts.Render("~/assets/js/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>

