@model Zeega.Admin.Web.Models.PageViewModel
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>@Model.PageInfoModel.Title</title>
        <meta name="description" content="@Model.PageInfoModel.Description" />
        <meta name="keywords" content="@Model.PageInfoModel.GetKeywords()" />
        @RenderSection("metas", required: false)
        <link href="" rel="Shortcut Icon" type="image/x-icon" media="all" />

        @Styles.Render("~/assets/css/style")
        @RenderSection("styles", required: false)
        @Scripts.Render("~/assets/js/modernizr")

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
</head>
    <body class="skin-black">
        @Html.Partial("_HeaderPartial")

        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            @Html.Partial("_SidebarPartial", Model.SidebarViewModel)

            <!-- Right side column. Contains the navbar and content of the page -->
            <div class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    @Html.DisplayFor(m => m.BreadcrumbsModel)

                    <h1>@Model.Title <small>@Model.TitleDescription</small></h1>
                </section>

                <!-- Main content -->
                <section class="content">
                    @RenderBody()            
                </section><!-- /.content -->
            </div><!-- /.right-side -->
        </div><!-- ./wrapper -->
        
        @Scripts.Render("~/assets/js/jquery")
        @Scripts.Render("~/assets/js/bootstrap")
        @Scripts.Render("~/assets/js/adminlte")
        @RenderSection("scripts", required: false)

    </body>
</html>

