@using Zed.Web.Helpers;
@model Zeega.Admin.Web.Models.Game.GameProviderModel

@{
    ViewBag.Title = Model.Name + " Game provider";
}

@section styles {
    @Styles.Render("~/assets/css/forms")
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            @using (Html.BeginForm("edit", "gameProvider", FormMethod.Post, new { role = "form", @class = "form-horizontal" })) {
                <div class="box-header">
                    <h3 class="box-title">Game Provider</h3>
                </div>
                <div class="box-body">
                    <fieldset>
                        <legend class="sr-only">General</legend>
                        <div class="form-group @Html.ValidationErrorCssClassFor(x => x.Name, "has-error")">
                            @Html.LabelFor(x => x.Name, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Name) })
                                <p class="help-block">
                                    @if (Html.HasValidationErrorFor(x => x.Name)) {
                                        @Html.ValidationMessageFor(x => x.Name)
                                    } else {
                                        @:Game provider's name.
                                    }
                                </p>
                            </div>
                        </div>

                        <div class="form-group @Html.ValidationErrorCssClassFor(x => x.OfficialUrl, "has-error")">
                            @Html.LabelFor(x => x.OfficialUrl, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.OfficialUrl, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.OfficialUrl) })
                                <p class="help-block">
                                    @if (Html.HasValidationErrorFor(x => x.OfficialUrl)) {
                                        @Html.ValidationMessageFor(x => x.OfficialUrl)
                                    } else {
                                        @:Game provider's official URL
                                    }
                                </p>
                            </div>
                        </div>

                        <div class="form-group @Html.ValidationErrorCssClassFor(x => x.PublisherUrl, "has-error")">
                            @Html.LabelFor(x => x.PublisherUrl, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.PublisherUrl, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.PublisherUrl) })
                                <p class="help-block">
                                    @if (Html.HasValidationErrorFor(x => x.PublisherUrl)) {
                                        @Html.ValidationMessageFor(x => x.PublisherUrl)
                                    } else {
                                        @:Game provider's publisher URL
                                    }
                                </p>
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.HasPublisherApi)
                                    @Html.DisplayNameFor(x => x.HasPublisherApi)
                                </label>
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.HasXmlFeed)
                                    @Html.DisplayNameFor(x => x.HasXmlFeed)
                                </label>
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.HasJsonFeed)
                                    @Html.DisplayNameFor(x => x.HasJsonFeed)
                                </label>
                            </div>
                        </div>

                        <div class="form-group @Html.ValidationErrorCssClassFor(x => x.GamesCatalogUrl, "has-error")">
                            @Html.LabelFor(x => x.GamesCatalogUrl, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.GamesCatalogUrl, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.GamesCatalogUrl) })
                                <p class="help-block">
                                    @if (Html.HasValidationErrorFor(x => x.GamesCatalogUrl)) {
                                        @Html.ValidationMessageFor(x => x.GamesCatalogUrl)
                                    } else {
                                        @:Game provider's games catalog URL
                                    }
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="checkbox col-sm-10 col-sm-offset-2">
                                <label>
                                    @Html.CheckBoxFor(x => x.IsActive)
                                    @Html.DisplayNameFor(x => x.IsActive)
                                </label>
                            </div>
                        </div>

                    </fieldset>
                </div>
                <!-- .box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    @Html.ActionLink("Cancel", "details", "GameProvider", new { id = Model.Id, slug = Model.Slug }, new { role = "button", @class = "btn btn-default" })
                </div>
                <!-- .box-footer -->
            }
        </div> <!-- .box -->
    </div> <!-- .col-md-12 -->
</div>