
@using Zeega.Web.Localization.Nav
@model Zeega.Web.Models.Nav.MainNavViewModel

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="main-navbar-collapse">
    <ul class="nav navbar-nav">
        <li class="dropdown mega-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@MainNavRes.BrowseGames <b class="caret"></b></a>
            <div class="dropdown-menu">
                <div class="container">
                    <ul class="row">
                        <li class="col-sm-4">
                            <dl>
                                <dt>@MainNavRes.Featured</dt>
                                <dd>
                                    <ul class="two-columns">
                                        <li><a href="" title="@MainNavRes.WhatToPlay">@MainNavRes.WhatToPlay</a></li>
                                        <li><a href="" title="@MainNavRes.Favorites">@MainNavRes.Favorites</a></li>
                                        <li><a href="" title="@MainNavRes.PlayLater">@MainNavRes.PlayLater</a></li>
                                        <li><a href="" title="@MainNavRes.CurrentlyPlaying">@MainNavRes.CurrentlyPlaying</a></li>
                                        <li><a href="" title="@MainNavRes.NewGames">@MainNavRes.NewGames</a></li>
                                        <li><a href="" title="@MainNavRes.MostPopularThisWeek">@MainNavRes.MostPopularThisWeek</a></li>
                                        <li><a href="" title="@MainNavRes.MostPopularThisMonth">@MainNavRes.MostPopularThisMonth</a></li>
                                        <li><a href="" title="@MainNavRes.MostPopularAllTime">@MainNavRes.MostPopularAllTime</a></li>
                                        <li><a href="" title="@MainNavRes.TopRated">@MainNavRes.TopRated</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </li>
                        <li class="col-sm-4">
                            <dl>
                                <dt>@MainNavRes.Categories</dt>
                                <dd>
                                    <ul class="two-columns">
                                        <li>@Html.ActionLink(@MainNavRes.AllGames, "Index", "Game", null, new { title = @MainNavRes.AllGames })</li>
                                        @foreach (var category in Model.GameCategories) {
                                            <li>
                                                @Html.RouteLink(category.Name,
                                                    new {
                                                        controller = "Game",
                                                        action = "Category",
                                                        categorySlug = category.Slug
                                                    },
                                                    new { title = category.Name }
                                                    )
                                            </li>
                                        }
                                    </ul>
                                </dd>
                            </dl>
                        </li>
                        <li class="col-sm-4">
                            <dl>
                                <dt>@MainNavRes.PlayHistory</dt>
                                <dd>
                                    <ul class="two-columns">
                                        <li><a href="" title="Alien abductor">Alien abductor</a></li>
                                        <li><a href="" title="Hack Slash Crawl">Hack Slash Crawl</a></li>
                                        <li><a href="" title="Taylor Momsen Dress Up">Taylor Momsen Dress Up</a></li>
                                        <li><a href="" title="Sift Heads World - Ultimatum">Sift Heads World - Ultimatum</a></li>
                                        <li><a href="" title="Racing">Racing</a></li>
                                        <li><a href="" title="Strategy & Defense">Strategy & Defense</a></li>
                                        <li><a href="" title="Puzzle">Puzzle</a></li>
                                        <li><a href="" title="Girl">Girl</a></li>
                                        <li><a href="" title="Cards & Casino">Cards & Casino</a></li>
                                        <li><a href="" title="Special ocasion games">Special ocasion games</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <form class="navbar-form navbar-left" id="search" role="search">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="@MainNavRes.SearchPlaceholder">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </form>
    @*<ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">@MediaNavRes.SignUp</a></li>
        <li><a href="#">@MediaNavRes.LogIn</a></li>
    </ul>*@
</div> <!-- .navbar-collapse -->